/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
_ide_helper_models.php
/phpunit.xml
.DS_Store
.buildpath
.project
.settings
nbproject
apiclient_cert.pem
apiclient_key.pem
wechat.log
